.component-profile-div {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 30%;
  height: 80%;
}

.progress-bar-div {
  border: 1px solid #000;
  border-radius: 4px;
  width: 29.5vw;
  padding: 2px;
}

.progress-bar {
  width: 200px;
  height: 20px;
  border-radius: 4px;
  background-color: green;
  transition: width 0.3s ease-in-out;
}
